@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}

html{
  overflow-x: hidden;
}

header{
  z-index: 999;
}

.inputDiv input{
  width: 80%;
  margin-left: 10%;
  outline: none;
  border: 1px solid #dfdddd;
  border-radius: 5px;
}

.inputDiv .error{
  width: 80%;
  margin-left: 10%;
  outline: none;
  border: 1px solid red;
}

.inputDiv label{
  position: absolute;
  left: 31.5%;
  font-size: 90%;
}

@media (max-width:345px) {
  .inputDiv label{
    position: absolute;
    left: 28.5%;
    font-size: 90%;
  }
}

.inputDivfile label{
  position: absolute;
  left: 26%;
  width: 48%;
  font-size: 90%;
}

.info{
  background-color: #19d300;
}

.info_div h2{
 font-size: 110%;
}

.apply_div{
  margin-top: 10%;
  margin-left: 20%;
}

.apply{
  z-index: 20;
  height: 120%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.buttons button{
  margin-left: 10%;
}

.about{
  z-index: 10;
}

@keyframes incSize {
  to{
    scale: 0.7;
  }
}

.toggled{
  animation: incSize 1s linear forwards;
}

.about img{
  height: 110vh;
  filter: blur(3px);
}

.about_layer{
  height: 110vh;
}

.about_line{
  height: 1px;
}

.footer{
  margin-top: 32%;
  box-shadow: 5px 0px 15px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (min-width:1024px) {
  .apply_div{
    margin-top: 5%;
    margin-left: 30%;
  }

  .inputDiv input{
    width: 80%;
    margin-left: 10%;
    outline: none;
    background-color: transparent;
    border: 1px solid #dfdddd;
  }

  .inputDiv label{
    position: absolute;
    left: 35.5%;
    font-size: 90%;
  }

  .inputDivfile label{
    position: absolute;
    left: 34.3%;
    width: 32.5%;
    font-size: 90%;
  }

  .about img{
    height: 70%;
    width: 100%;
  }
  
  .about_layer{
    height: 70%;
  }
}